#login-container{
    height: 70vh;
    width: 30vw;
    /* background-color: red; */
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#greeting-container{
    align-self: flex-start;
}

.login-with{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: white;
}

#break{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: gray;
}

.line{
    width: 30%;
    height: 1px;
    background-color: lightgrey;
}

.text-input{
    height: 35px;
    width: 100%;
    border: solid grey 1px;
    border-radius: 5px;
}

#use-email-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 30vw;
    /* background-color: blue; */
}

#extra-login-actions-container{
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
}

#login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: purple;
    border-radius: 5px;
}