#song-profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#song-info-card{
    margin: 50px;
    width: 90vw;
    height: 75vh;
    border-radius: 10px;
    display: flex;
}

#album-cover-card{
    aspect-ratio: 1/1;
    height: 80%;
    max-width: 80%;
    border-radius: 10px;
}

#embedded-song-link{
    aspect-ratio: 1/1;
    height: 80%;
    max-width: 80%;
    border-radius: 10px;
}

#song-review-container{
    width: 90vw;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

