#song-profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hotpink;
}

#critique-box-container{
    width: 90vw;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
}

.critique-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 400px;
    margin: 5%;
    border-radius: 10px;
    background-color: yellowgreen;
}

.inside-critique-box{
    width: 80%;
    height: 80%;
    background-color: blueviolet;
    border-radius: 10px;
}