nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  background-color: purple;
}


.nav-right{
  /* height: 100px; */
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center-no-click{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}
