colors: {
    'text': {
      50: '#edf9eb',
      100: '#daf3d8',
      200: '#b5e7b1',
      300: '#91db8a',
      400: '#6ccf63',
      500: '#47c33c',
      600: '#399c30',
      700: '#2b7524',
      800: '#1c4e18',
      900: '#0e270c',
      950: '#071406',
    },
    'background': {
      50: '#eafaee',
      100: '#d6f5de',
      200: '#adebbc',
      300: '#84e19b',
      400: '#5bd77a',
      500: '#32cd59',
      600: '#28a447',
      700: '#1e7b35',
      800: '#145223',
      900: '#0a2912',
      950: '#051509',
    },
    'primary': {
      50: '#ecf9eb',
      100: '#d9f3d8',
      200: '#b3e8b0',
      300: '#8ddc89',
      400: '#67d062',
      500: '#42c43b',
      600: '#349d2f',
      700: '#277623',
      800: '#1a4f17',
      900: '#0d270c',
      950: '#071406',
    },
    'secondary': {
      50: '#fbeaed',
      100: '#f7d4dc',
      200: '#efa9b8',
      300: '#e77e95',
      400: '#de5472',
      500: '#d6294e',
      600: '#ab213f',
      700: '#81182f',
      800: '#56101f',
      900: '#2b0810',
      950: '#150408',
    },
    'accent': {
      50: '#ecfbe9',
      100: '#d9f8d3',
      200: '#b4f0a8',
      300: '#8ee97c',
      400: '#69e151',
      500: '#43da25',
      600: '#36ae1e',
      700: '#288316',
      800: '#1b570f',
      900: '#0d2c07',
      950: '#071604',
    },
   },
   

   fontSize: {
    sm: '0.750rem',
    base: '1rem',
    xl: '1.333rem',
    '2xl': '1.777rem',
    '3xl': '2.369rem',
    '4xl': '3.158rem',
    '5xl': '4.210rem',
  },
  fontFamily: {
    heading: 'Grotesque',
    body: 'Bricolage Grotesque',
  },
  fontWeight: {
    normal: '400',
    bold: '700',
  },